*{
    box-sizing: border-box;
    margin: 0;
    min-width: 300px;

}

    body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000;
    }

    .ph1{
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #00005C;
    }
    .ph2{
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #1A5F7A;
    }
    .p1{ display: flex;
        justify-content: center;
        background-color: #6A097D; /*37525f*/
        border: .3rem solid #000;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    }
    .p2{ display: flex;
        justify-content: center;
        background-color:  #086E7D; /*37525f*/
        border: .3rem solid  #000;
        padding: 0.3rem;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;

    }
    
    header{
        display: flex;
        justify-content: center;
        flex: 1.78rem;
        padding: 0.875rem;
        background-color: #DB2D43;
    }
    img{
        max-width: 300px
        ;
    }
    .h1img{
        display: flex;
        text-align: center;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        background-color: #005F99;
    }

    nav a{
        color: whitesmoke;
        padding:0.875rem 1.25rem;
        text-align: center;
        }
    nav a:hover{
        background-color: #000;
    }

    .row{
            display: flex;
            flex-wrap: wrap;
        }
    aside{
        flex: 1.875rem;
        background-image: linear-gradient(-25deg,#C060A1, #FFDCB4);
        padding: 0.875rem;
    }

    section{
        flex: 1.875rem;
        background-image: linear-gradient(-25deg,#FFC900, #FFF89A);
        padding: 0.875rem;
    }
    footer{
        padding: 0.875rem;
        text-align: center;
        background-color: #97BFB4;
    }
    @media screen and (min-width:25rem) and (max-width: 43.75rem) {
        nav, .row{
            flex-direction: column;
            width: 100%;
        }}
    /*Rotar imagenes
    .rotate{
        animation: rotation 9s infinite linear;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }}*/
        
   